.comment
  .head
    .title
      = link_to comment.title, url_for(:comments, :show, id: comment.id)
    .post-date
      Posted #{comment.created_at}
      %span.author by #{comment.name}
  .body
    - if comment.avatar
      .avatar
        = image_tag comment.avatar
    = comment.body.html_safe
  = partial 'comments/comment', collection: comment.comments.comments
