!!! 5
%html{:lang => 'en'}
  %head
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    %meta{:content => 'text/html; charset=utf-8', 'http-equiv' => 'Content-Type'}
    %meta{:name => :viewport, :content => 'width=device-width,initial-scale=1'}
    %title= @title.present? ? "#{@title} | Padrino Admin" : "Padrino Admin"
    =favicon_tag 'favicon.ico'
    %link{:href => 'http://fonts.googleapis.com/css?family=Varela', :rel => :stylesheet}
    =stylesheet_link_tag 'application'
    - @plugin_context ||= "admin.#{request.route_obj.controller}.#{request.route_obj.action}"
    = Plugin.apply_action('add_css',['*','admin',"admin.#{request.route_obj.controller}",@plugin_context]).join("\n").html_safe

  %body
    %a{href: "https://github.com/skamansam/psams"}
      %img.fixed-top{style: "position: fixed; top: 0px; right: 0; border: 0; z-index: 1100; max-width: 135px", src: "https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67", alt: "Fork me on GitHub", data: { canonical: {src: "https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"}}}
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          .navbar-brand{style: 'text-transform:none'}
            =link_to image_tag('/admin/assets/admin_logo.gif', :alt => "pSaMs logo", style: 'height: 36px'), url(:base, :index), :title => 'pSaMS Admin'
            =link_to "pSaMS Admin", url(:base, :index),  :title => 'pSaMS Admin'
          %ul.nav.navbar-nav.pull-right
            %li.navbar-edit-account=link_to tag_icon(:user), url(:accounts, :edit, :id => current_account.id), :title => pat(:profile), :class => 'navbar-nav-link'
            %li.navbar-logout
              =button_to :logout, url(:sessions, :destroy), :method => :delete, :class => 'navbar-nav-form' do
                =content_tag :button, tag_icon(:off), :type => :submit, :title => pat(:logout), :class => 'navbar-nav-form-link'

          %ul.nav.navbar-nav.pull-left
            - project_modules.each do |project_module|
              %li{:class => "navbar-module #{('active' if request.path_info =~ /^#{project_module.path}/)}"}
                =link_to project_module.human_name, url(project_module.path)
    ={:error => 'danger', :warning => 'warning', :success => 'success', :notice => 'info'}.map { |type, class_name| flash_tag(type, :class => "alert alert-#{class_name} fade in container", :bootstrap => true) }.join.html_safe
    .container.main
      .main-wrapper
        .row=yield
        .main-wrapper-push

    %footer
      .footer-wrapper.container
        %p.pull-left
          Copyright &copy;
          =Time.now.year
          Rude Boy Enterprises - Powered by Padrino v.#{Padrino.version} and pSaMS v.#{PSaMs::App::PSAMS_VERSION} (on git branch '#{PSaMs::App::GIT_BRANCH}'' at #{PSaMs::App::GIT_HASH.first(6)})
        %ul.pull-right.footer-links
          %li= link_to tag_icon(:home, 'web'), 'http://www-rbe.rhcloud.com', :target => :_blank, :class => 'footer-links-link'
          %li= link_to tag_icon(:heart, 'blog'), 'http://www-rbe.rhcloud.com', :target => :_blank, :class => 'footer-links-link'
          %li= link_to tag_icon(:github, 'code'), 'https://github.com/skamansam', :target => :_blank, :class => 'footer-links-link'
          %li= link_to tag_icon(:twitter, 'twitter'), 'http://twitter.com/psams_blog', :target => :_blank, :class => 'footer-links-link'

    =javascript_include_tag 'jquery-1.11.0.min','jquery-ui-1.10.3.custom', 'typeahead.min', 'prism-dev', (Padrino.env == :production ? 'bootstrap/bootstrap.min' : %w[bootstrap/affix bootstrap/alert bootstrap/button bootstrap/carousel bootstrap/collapse bootstrap/dropdown  bootstrap/tooltip bootstrap/transition  bootstrap/modal bootstrap/popover bootstrap/scrollspy bootstrap/tab bootstrap/bootstrap-tagsinput]), :application
    = Plugin.apply_action('add_js',['*','admin',"admin.#{request.route_obj.controller}",@plugin_context]).join("\n").html_safe
