%h2
  Plugin Management
  =link_to "Reload All Plugins", url_for(:plugins,:index, reload: true), :class=>'btn btn-primary pull-right'

.tabs-content
  %ul.list-group
    - @plugins.each do |plugin|
      %li.list-group-item{class: ('disabled' unless plugin.active?)}
        = link_to plugin.name, "##{plugin.id}"
        %span.badge= plugin.cnt

  - @plugins.each do |plugin|
    .panel.panel-default{id: plugin.id}
      .panel-heading
        %h3.panel-title
          = plugin.name
          -if plugin.active
            = form_tag url(:plugins, :destroy, id: plugin.id), method: :delete, style: 'padding-left: 3em;display: inline-block' do
              =link_to 'Deactivate', rel: :tooltip, title: "#{pat(:delete)} plugin",  onclick: "$(this).parents('form').first().submit()"
              \|
              =link_to 'More...', href: url(:plugins, :show, id: plugin.id), rel: :tooltip, title: "#{pat(:edit)} plugin"
          - else
            = form_tag url(:plugins, :create, id: plugin.id), method: :post do
              =link_to tag_icon(:ok), rel: :tooltip, title: "#{pat(:new)} plugin", class: 'list-row-action-new list-row-action-wrapper-link', onclick: "$(this).parents('form').first().submit()"
              =link_to tag_icon(:info), href: url(:plugins, :show, id: plugin.id), rel: :tooltip, title: "#{pat(:edit)} plugin", class: 'list-row-action-wrapper-link'
          .pull-right
            %button.btn.btn-sm.btn-primary{type: :button}
              Hooks
              %span.badge=plugin.cnt
            %button.btn.btn-sm.btn-danger{type: :button}
              Errors
              %span.badge=plugin.error_count
            %button.btn.btn-sm.btn-warning{type: :button}
              Warnings
              %span.badge=plugin.warning_count
      .panel-body
        = plugin.plugin_object.try(:description)

%h3 Dependency Paths
%ul
  - Padrino.dependency_paths.each do |path|
    %li= path
