%h2
  Plugin Management
  =link_to "Reload All Plugins", url_for(:plugins,:index, reload: true), :class=>'btn btn-primary pull-right'

.tabs-content
  %ul.list-group
    - @plugins.each do |plugin|
      %li.list-group-item{class: ('disabled' unless plugin.active?)}
        = link_to plugin.name, "##{plugin.id}"
        %span.badge= plugin.cnt

  -@plugins.each do |plugin|
    .panel{id: plugin.id}
      .panel-heading
        = plugin.name
        %span.badge= plugin.cnt
        .span.pull-right= plugin.plugin_type
      .panel-body
        = plugin.plugin_object.try(:description)

%h3 Dependency Paths
%ul
  - Padrino.dependency_paths.each do |path|
    %li= path
