%h2
  Plugin Management
  =link_to "Reload All Plugins", url_for(:plugins,:index, reload: true), :class=>'btn btn-primary pull-right'

.tabs-content
  %ul.list-group
    - @plugins.each do |plugin|
      %li.list-group-item{class: ('disabled' unless plugin.active?)}
        = link_to plugin.name, "##{plugin.id}"
        %span.badge= plugin.cnt

  - @plugins.each do |plugin|
    .panel.panel-default.plugin-panel{id: plugin.id}
      .panel-heading
        %h3.panel-title
          = link_to plugin.name, url(:plugins, :show, id: plugin.id)
          .badges
            %button.btn.btn-sm.btn-primary{type: :button}
              Hooks
              %span.badge=plugin.cnt
            %button.btn.btn-sm.btn-danger{type: :button}
              Errors
              %span.badge=plugin.error_count
            %button.btn.btn-sm.btn-warning{type: :button}
              Warnings
              %span.badge=plugin.warning_count
      .panel-body
        %p
          = plugin.plugin_object.try(:description) || plugin.plugin_object.try(:info).try(:[],1)
        %ul.list-group
          - plugin.all_methods.each do |meth|
            %li.list-group-item{class: ('disabled' unless meth.active?)}
              = tag_icon(plugin.plugin_type.downcase == 'filter' ? :filter : :cogs)
              = link_to meth.method_name, url(:plugins, :show, id: plugin.id, anchor: meth.method_name)
              .action-links.pull-right
                = partial 'plugins/action_links', locals: {plugin: meth}

%h3 Dependency Paths
%ul
  - Padrino.dependency_paths.each do |path|
    %li= path
