%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:plugins, :index)
  -#%li=link_to tag_icon(:edit, pat(:edit)), url(:plugins, :edit, :id => @plugin.id)
  %li.active=link_to tag_icon(:info, pat(:show)), url(:plugins, :show, :id => @plugin.id)
.tabs-content
  .page-header
    %h2 
      =@plugin.name
      %small 
        =@plugin.plugin_type
    %p= @plugin.info[1]
  - @plugin.actions.each do |plugin|
    .panel.panel-default
      .panel-heading
        #{plugin.method_name} (filters 
        %em #{plugin.hook_name}
        )
      .panel-body
        %pre{class: 'language-ruby'}
          %code{class: 'language-ruby'}
            = preserve do
              = @plugin_object.new.method(plugin.method_name.to_sym).source
        

