.post
  .head
    .title 
      #{link_to post.title, url_for(:posts, :show, :id=>post.id)} 
    .modified 
      -#Last Modified #{(post.updated_at || DateTime.now) #time_ago_in_words } ago
      %span.author by #{account_link(post.post.account)}
  .body
    = post.body.html_safe
    .tags
      - if post.tags.present?
        tagged with: #{post_tag_cloud(post.tags)}
