/BEGIN Theme Header
%link{:href => "/assets/#{theme_asset_path}/apple-touch-icon-57x57.png", :rel => "apple-touch-icon", :sizes => "57x57"}/
%link{:href => "/assets/#{theme_asset_path}/apple-touch-icon-60x60.png", :rel => "apple-touch-icon", :sizes => "60x60"}/
%link{:href => "/assets/#{theme_asset_path}/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
%link{:href => "/assets/#{theme_asset_path}/apple-touch-icon-76x76.png", :rel => "apple-touch-icon", :sizes => "76x76"}/
%link{:href => "/assets/#{theme_asset_path}/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
%link{:href => "/assets/#{theme_asset_path}/apple-touch-icon-120x120.png", :rel => "apple-touch-icon", :sizes => "120x120"}/
%link{:href => "/assets/#{theme_asset_path}/apple-touch-icon-144x144.png", :rel => "apple-touch-icon", :sizes => "144x144"}/
%link{:href => "/assets/#{theme_asset_path}/apple-touch-icon-152x152.png", :rel => "apple-touch-icon", :sizes => "152x152"}/
%link{:href => "/assets/#{theme_asset_path}/apple-touch-icon-180x180.png", :rel => "apple-touch-icon", :sizes => "180x180"}/
%link{:href => "/assets/#{theme_asset_path}/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}/
%link{:href => "/assets/#{theme_asset_path}/android-chrome-192x192.png", :rel => "icon", :sizes => "192x192", :type => "image/png"}/
%link{:href => "/assets/#{theme_asset_path}/favicon-96x96.png", :rel => "icon", :sizes => "96x96", :type => "image/png"}/
%link{:href => "/assets/#{theme_asset_path}/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}/
%link{:href => "/assets/#{theme_asset_path}/manifest.json", :rel => "manifest"}/
%meta{:content => "#da532c", :name => "msapplication-TileColor"}/
%meta{:content => "/assets/#{theme_asset_path}/mstile-144x144.png", :name => "msapplication-TileImage"}/
= succeed "``" do
  %meta{:content => "#ffffff", :name => "theme-color"}/

=theme_js "default"  #this should be all. You should include other JS in this file
=theme_css "default"
=theme_css "jquery-ui/jquery.ui.all.css"
/[if IE 7]
  =theme_css "ie7"

- @plugin_context ||= "#{request.route_obj.controller}.#{request.route_obj.action}"
= Plugin.apply_action('add_css',['*',"#{request.route_obj.controller}",@plugin_context]).join("\n").html_safe

/END Theme Header
